<html>
<header><title>{{ websiteheader }}</title></header>
<body>
<h1>Welcome to {{ websiteheader }}</h1>

<h3>This site was created with Ansible by {{ websiteauthor }}
<meta http-equiv="refresh" content="5; URL="https://www.latlmes.com/breaking/ansible-course-done-1" />
</body>
</html>